@import url('carousel.css');
@import url('table.css');
@import url('buttons.css');

.marquee {
    background: var(--color-red);
    color: var(--color-light);
    padding: 18px 0;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: hidden;
    width: 100%;
    font-family: var(--font-family-header);
    font-size: 16px;
    font-weight: var(--font-normal);
    text-transform: uppercase;
}

.marquee-content {
    display: inline-flex;
    gap: 12px;
    animation: marqueeScroll 10s linear infinite;
    width: auto;
}

.marquee-content span {
    margin-right: 12px;
    white-space: nowrap;
}

@keyframes marqueeScroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

section.container {
    margin-bottom: 200px;
}

#lecture-section {
    margin-top: 80px;
    margin-bottom: 64px;
}

#participants-section {
    margin-bottom: 140px;
}

.planer {
    z-index: 1;
    position: relative;
    margin-top: -375px;
    top: 375px;
    left: 900px;
}
